*.pyc
__pycache__/
*.DS_Store
.vscode/settings.json
.env/
.idea/
.vscode/
*.iml
target/

.settings/
.classpath
.factorypath
.project

util/src/main/java/org/datacommons/proto/

# static files
**/node_modules/**
/wizard/build/**
!wizard/build/.empty
